@font-face {
    font-family: Titillium-Bold;
    src: url('../../../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf');
}

.NavItem {
    color: black;
    font-family: Titillium-Bold;
    text-decoration: none;
}

.NavItem p {
    padding: 0;
    margin: 0;
    font-size: 3vh;
}

.active {
    color: rgb(243, 117, 0);
}