@font-face {
    font-family: Titillium-Light;
    src: url('../../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf');
}

.Leaderboards {
    position: relative;
    font-family: Titillium-Light;
    top: 5vh;
}