@font-face {
    font-family: Titillium-Regular;
    src: url('../../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
}

.Login {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    height: 300;
    padding: 10px;
    width: 80%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 3px #333;
}

.login-wrapper > input {
    font-family: Titillium-Regular;
    margin: 5px;
    font-size: 3vh;
}

.login-wrapper > button {
    font-family: Titillium-Regular;
    margin: 5px;
    font-size: 3vh;
}